doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/jqueryui/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    script(src='/javascripts/jqueryui/js/jquery-1.10.2.js')
    script(src='/javascripts/jqueryui/js/jquery-ui-1.10.4.custom.js')
    script(src='/socket.io/socket.io.js')

    body
    block content